<div class="border">
  <div id="text" >
    <h1>英语四六级考试报名管理系统</h1>
    <p><h2>大学英语考试是教育部主管的一项全国性的教学考试，其目的是对大学生的实际英语能力进行客观、准确的测量，为大学英语教学提供服务。
    大学英语考试是一项大规模标准化考试，在设计上必须满足教育测量理论对大规模标准化考试的质量要求，是一个“标准关联的常模参照测验”。

  </h2></p>

  </div>
  <div id="button" >
    <button onclick="openNewPage()"><h2>GO</h2></button>
  </div>
</div>

