<div class="zhuxiao">
  <button onclick="returnLandingPage()">注销</button>
</div>

<div align="center">
  <div id="si">
    <button onclick="opensiji()">英语四级考试报名</button>
  </div>
  <div id="si">
    <button onclick="openliuji()">英语六级考试报名</button>
  </div>
  <div id="si">
    <button onclick="openshow()">考试信息、成绩查询</button>
  </div>
</div>
<div align="center" class="flash">
  <% if flash[:siji] %>
      <div><%= flash[:siji] %></div>
  <% end %>
</div>
<div align="center">
  <p>报名须知：报考六级考试的前提是四级考试的成绩大于420分</p>
</div>