<div class="return">
  <button onclick="returnLandingPage()">注销</button>
</div>
<div align="center">
<div>
  <button onclick="opensiji()">英语四级考试报名</button>
</div>
 <div>
   <button onclick="openliuji()">英语六级考试报名</button>
 </div>
</div>
